<a href="/index.html">home</a>
<a href="https://social.njms.ca/nat" rel="me">fediverse</a>
<a href="https://github.com/natjms">github</a>
<a href="/rss.xml">rss feed</a>
<a href="/feed.json">json feed</a>