<div class="col-md-3 col-sm-3 sidebar">
  <h2>njms</h2>
  <div class="links">
    {% include 'links.liquid' %}
  </div>

  {% assign n = 0 %}
  {% for post in collections.posts.pages %}
    {% if n > 2 %}
      {% break %}
    {% endif %}
    <div class="sidebar-post">
      <h4><a href="../{{ post.permalink }}">{{ post.title }}</a></h4>
      <h6>{{ post.published_date }}</h6>
    </div>

    {% assign n = n | plus: 1 %}
  {% endfor %}
</div>
