---
layout: default.liquid
---
<div>
  <div class="hero">
    <h1>njms</h1>
    <p>
      Freelance web developer and digital marketing consultant -- that's the
      official title now. Here's some other stuff I do:
    </p>

    <ul>
      <li>Software development in Elixir, Python and sometimes Rust</li>
      <li>Photography.</li>
      <li>Linux system administration.</li>
      <li>Essay and creative writing.</li>
      <li>Localization - French/English</li>
    </ul>
  </div>
  <div class="posts">
    {% for post in collections.posts.pages %}
    <div>
      <h2><a href="../{{ post.permalink }}">{{ post.title }}</a></h2>
      <h4>{{ post.published_date }}</h4>
      <p>{{ post.excerpt }}</p>
      <hr>
    </div>
    {% endfor %}
  </div>
</div>
