<!DOCTYPE html>
<html>
  <head>
    <script>
      // Redirect before the page loads
      location.href = "home/index.html";
    </script>
  </head>
  <body>
    <p>Click <a href="home/index.html">here</a> if not redirected</p>
  </body>
</html>